.wavy {
    margin-top: 30px;
    position: absolute;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    justify-content: center;
    align-items: center;
    display: none;
}

.wavy span {
    position: relative;
    display: inline-block;
    color: #503a89;
    font-size: 2em;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%, 100% {
        transform: translateY(0px);
    }
}