{% extends 'base.html' %}
{% block content %}
    <div class="container m-auto">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3">
            <a href="{% url 'core:index' %}">Trang chủ</a>
        </h1>
        <div class="grid lg:grid-cols-3 mt-12 gap-8">
            <div>
                <h3 class="text-xl mb-2"></h3>
                <p></p>
            </div>
            <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                {% load core_extras %}
                <p style="margin: 20px 10px;">
                    Chỉnh sửa bình luận tại bài viết của {{ comment.post.user|get_custom_name_profile }}.
                </p>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">

                        <div class="col-span-2">
                            <label>Nội dung</label>
                            <textarea name="comment_cont" rows="3" class="shadow-none bg-gray-100"
                                      style="padding: 5px 10px 5px 10px">{{ comment.comment_content }}</textarea>
                        </div>
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    </div>
                    <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                        <button class="p-2 px-4 rounded bg-gray-50 text-red-500">
                            <a href="{% url 'core:post_details' comment.post.id %}">Hủy bỏ</a>
                        </button>
                        <button type="submit" class="button bg-blue-700">Lưu</button>
                    </div>
                </form>

            </div>
        </div>
        <br>
    </div>
{% endblock %}